
/***********************************************
Radio Grill Project
version: 1.0
Developer: Raúl Moya (www.raul-ce.tk)
*************************************************/

div{
    border: 1px solid red;
}

#divActual {
    background: #999;
}

#divNext {
    background: #999;
}

#radio-grill{
    border: 1px solid #333;
}

