
/***********************************************
Radio Grill Project
version: 1.0
Developer: Raúl Moya (www.raul-ce.tk)
*************************************************/

body {
    background: #333;
}

#divActual {
    background: url(../extra/top.png);
    background-repeat: no-repeat;
    padding: 10px;
    text-align: right;
    width: 566px;
}

#divActual span {
    font-weight: bold;
    font-family: "Arial";
    font-size: 20px;
    margin-right: 30px;
    text-align: center;
    color: #FFF;
}

#divNext {
    background: url(../extra/bottom.png);
    background-repeat: no-repeat;
    padding: 10px;
    text-align: right;
    width: 566px;
}

#divNext span {
    font-weight: bold;
    font-family: "Arial";
    font-size: 20px;
    margin-right: 30px;
    text-align: center;
    color: #FFF;
}

#divInfo {
    height: 230px;
    padding: 5px;
    width: 575px;
}

#radio-grill{
    background: url(../extra/bg.png);
    background-repeat: no-repeat;
    height: 330px;
    padding: 5px;
    width: 590px;
}

#repImg{
    display: inline-block;
    width: 258px;
    text-align: center;
    border: 1px solid #bbb;
}

#repImg img{
    height: 200px;
    width: 250px;
}

#autorInfo{
    display: inline-block;
    padding: 0 10px;
    font-size: 13px;
    font-family: "Arial";
    vertical-align: top;
    width: 270px;
}

#divNetwork{
    margin: 15px 0;
}

#divNetwork div{
    margin: 5px 0;
}

#present {
    font-size: 15px;
    font-weight: bold;
}