
/***********************************************
Radio Grill Project
version: 1.0
Developer: Raúl Moya (www.raul-ce.tk)
*************************************************/

div{
    border: 1px solid #333;
}

#content{
    border: 1px solid #333;
}

